Requirements
-----
<a href="http://www.apple.com/mac/">
  <img src="https://realglobe-inc.github.io/sugos-assets/images/mac-banner.svg"
       alt="Mac"
       height="{{vars.bannerHeight}}"
       style="height:{{vars.bannerHeight}}px"
  /></a>
<a href="https://nodejs.org">
  <img src="https://realglobe-inc.github.io/sugos-assets/images/nodejs-banner.png"
       alt="Node.js"
       height="{{vars.bannerHeight}}"
       style="height:{{vars.bannerHeight}}px"
  /></a>
<a href="https://docs.npmjs.com/">
  <img src="https://realglobe-inc.github.io/sugos-assets/images/npm-banner.png"
       alt="NPM"
       height="{{vars.bannerHeight}}"
       style="height:{{vars.bannerHeight}}px"
  /></a>

+ [MAC ( OS X )][mac_url]
+ [Node.js ( {{{pkg.engines.node}}} )][node_download_url]
+ [npm ( {{{pkg.engines.npm}}} )][npm_url]

This interfaces uses `say` command of OSX, thus you need a mac.

[mac_url]: http://www.apple.com/mac/
[node_download_url]: https://nodejs.org/en/download/
[npm_url]: https://docs.npmjs.com/

